<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.littleforest">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Littleforest">
        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/SplashTheme"
            android:screenOrientation ="portrait">

            <!--screenOrientation 세로 모드만 가능 -->

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--모든 activity는 AndroidManifest에서 정의-->
        <activity android:name=".MainActivity"/>

        <!--알람-->
        <activity android:name=".AlarmActivity"/>
        <receiver android:name=".AlarmReceiver"/>

        <!--Hot topic service-->
        <activity android:name=".InputPage.HotTopicService"/>
        <activity android:name=".InputPage.HotTopicWrite"/>


        <activity android:name=".InputPage.FoodPlus"/>
        <activity android:name=".InputPage.HealthInformation"/>
        <activity android:name=".searchfood"/>
        <activity android:name=".InputPage.EatingFood"/>
        <activity android:name=".InputPage.AddMenuActivity"/>
        <activity android:name=".InputPage.AddDietActivity"/>


        <!---->



    </application>

    <!-- 파이어 베이스 인터넷 사용 권한 -->
    <uses-permission android:name="android.permission.INTERNET" />
</manifest>
